<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Annoskeskäsittelyjärjestelmä v1.0 ALPHA PRE RELEASE (VÄHÄ NIINKU PUBG ":D")</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Ruokamenun hallintajärjestelmä</h1>

        <p>Päivän menu: <span th:text="${viesti}">jotain?</span></p> <!--Päivän viesti (turhake)-->
        
        
        
        <p>Kaikki mahdolliset annokset:</p> <!--Yksinkertaisesti lista kaikista olemassaolevista annoksista (hellpo toteuttaa)-->
        <ul>
            <li th:each="annosOlio: ${annoksetList}">
                <span th:text="${Annos.id}">1</span> <span th:text="${Annos.nimi}">Essi esimerkki</span>
            </li>
        </ul>
        
        <p><a href="/uusiAnnos">Luo uusi annos.</a></p> <!--lomakesivu uuden paskan luontiin-->
        <p><a href="/uusiRaakaAine">Lisää saatavilla olevia raaka-aineita.</a></p> <!--lomakesivu raaka-aineidnenn lisäämiseen (helpo)-->
        <p><a href="/annosOhjeet">Tarkastele ohjeita annosten vlamistukseen</a></p> <!--Listaa kaikki annokset linkkeinä, kun linkkiä painaa, 
vie sivulle jossa tulostuu raaka-aineen ohje+määrä lisäysjärjestyksessä
Esim jos olisi nakkikeitto, jolla rak_aineet vesi: ohje: laita kattilaan: määrä: 1L
ja nakki: ohje: pilko ja lisää kattilaan: määrä: 5kpl, niin tulostuisi tyyliin (klikkauksen jälkeen):
Nakkikeitto:
1. Vesi: laita kattilaan 1L
2. Nakki: pilko ja lisää kattilaan 5kpl
-->
        
    </body>
</html>
