<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Annoskeskäsittelyjärjestelmä v1.0 ALPHA PRE RELEASE (VÄHÄ NIINKU PUBG ":D")</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Ruokamenun hallintajärjestelmä</h1>

                
        <p>Ohje: Painaannosta siirtyäksesi annossivulle. Annossivulla voit lukea ohjeen ja lisätä raaka-aineita kullekin annokselle</p>
        <p>Kaikki mahdolliset annokset:</p>
        <ul>
            <li th:each="annos: ${annokset}">
                <a th:href="@{~/annos/{id}(id=${annos.id})}">
                    <span th:text="${annos.id}">id</span> <span th:text="${annos.nimi}">Annos</span>
                </a>
            </li>
        </ul>
        
        <p><a href="/raakaaineet">Lisää saatavilla olevia raaka-aineita.</a></p> 
 
        
    </body>
</html>
