<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Ohjeet</title>

    </head>
    <body>

        <h1>Ohjeet</h1>
        
        
        <p>Klikkaa raaka-aine linkkia etusivulla ja lisaa raaka-aineita, joita haluat kayttaa annoksissaski</p>
        <p>Palaa aloitussivulle ja lisaa lisattavan annoksen nimi ja hinta, hinta tulee kokonaislukuna</p>
        <p>Taman jalkeen ohjaudut sivulle, jolla sinun tulee lisata annokselle raaka-aineet, ohjeet ja jarjestys</p>
        

        
        <p><a href="/annokset">Takaisin aloitussivullee</a></p> 


    </body>
</html>
