<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aineet</title>

    </head>
    <body>

        <h1>Raaka-aineet</h1>

        <ol>
            <li th:each="RaakaAine : ${raakaAineet}">

                <span th:text="${RaakaAine.nimi}"></span> 

            </li>
        </ol>

        <form method="POST" action="/raakaaineet">

            Lisaa Raaka-aine<br/>
                <input type="text" name="nimi"/><br/>
                <input type="submit" value="Lisaa Raaka-aine"/>





        </form>
        
        <p><a href="/annokset">Takaisin annossivulle</a></p> 


    </body>
</html>
